header {
    width: 100%;

    &.form-header {
        position: relative;

        .close {
            float: left;
            opacity: 1;
            width: 1rem;
        }
    }

    .page-title {
        font-family: 'RobotoBold';
        font-size: 16px;
        margin: 0;
    }

    .site-logo {
        margin-left: 10px;
        min-width: 150px;
        max-width: 200px;
        width: 30%;
    }

    &.dashboard-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .dashboard-action-icon {
        width: 20px;
    }

    .edit-transaction {
        margin-right: 40px;
    }
}

.header-border {
    background-color: $grey;
    border: 0;
    height: .2px;
    margin: 0;
    opacity: .5;
    width: 100%;
}
