form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    input,
    input:focus,
    input:active,
    select {
        background-color: $black;
        border: 1px solid $grey;
        border-radius: 4px;
        color: white;
        height: 40px;
        padding-left: 10px;
        width: 100%;
    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        width: 100%;

        &.registration-form input,
        &.login-form input {
            margin-bottom: 30px;
        }

        .input-group {
            margin-bottom: 30px;
            position: relative;
        }

        .form-icon {
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            width: 15px;
        }

        .crypto-form-input {
            color: #fff;
            font-size: 14px;
            padding-left: 50px;
        }
    }
}   

.auth-nav-link {
    margin-top: 10px;
    text-align: center;

    a,
    a:visited,
    a:active {
        color: #fff;
        text-decoration: underline;
    }
    
}